.input-area {
  display: flex;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #222;
  color: #9eff9e;
}

.input-area button {
  background: #7dff7d;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}
